<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1040070057907-m9doh2np5h8b70p7mad35bpus4gen6p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040070057907-m9doh2np5h8b70p7mad35bpus4gen6p8</string>
	<key>API_KEY</key>
	<string>AIzaSyBdfXoE9d5WqSCOP5ZrIwbhTTM3JHJQdV8</string>
	<key>GCM_SENDER_ID</key>
	<string>1040070057907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.butlerproject.Ketch</string>
	<key>PROJECT_ID</key>
	<string>ketch-b8d8a</string>
	<key>STORAGE_BUCKET</key>
	<string>ketch-b8d8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040070057907:ios:276c3fcce5a23608</string>
	<key>DATABASE_URL</key>
	<string>https://ketch-b8d8a.firebaseio.com</string>
</dict>
</plist>